<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>User Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card> 
    <ion-card-content>
      <form [formGroup]="userForm" style="
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        gap: 10px;
      ">

      <ion-input label="Full Name : " class="border border-black" placeholder={{userDetails.name}} formControlName="name" ></ion-input>
      <ion-input label="Number : " class="border border-black" formControlName="age" placeholder={{userDetails.age}}></ion-input>
      <ion-input label="Email : " class="border border-black" formControlName="email" placeholder={{userDetails.email}}></ion-input>
      <ion-input label="Address : " class="border border-black" formControlName="address" placeholder={{userDetails.address}}></ion-input>
      <ion-button (click)="updateUser()">UPDATE USER</ion-button>
    </form>
    </ion-card-content>
  </ion-card>
  

</ion-content>
